/*preloader*/

#overlay {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 99999;
    background-color: white;
}

#overlay img {
    width: 50%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 30%;
}




/*Page 1*/
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
section {
    position: relative;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.st-section1 {
    background: url(imgs/p1-bg-img.png) no-repeat center;
    z-index: -1000;
    width: 100%;
    height: 100%;
}

img.p1-bottom-ball {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
img.p1-finding-job-text {
  bottom: 4%;
  display: block;
  width: 50%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.p1-title1 {
  width: 55%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 3%;
}
.p1-title2 {
  width: 50%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 12%;
}
.p1-superman {
  width: 63%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 33%;
}
img.p1-globe {
  position: absolute;
  width: 19%;
  top: 31%;
  left: 14%;
}
img.p1-text-outsource {
    position: absolute;
    top: 56%;
    width: 10%;
    right: 14%;
}
img.p1-text-fulltime {
  position: absolute;
  top: 39.8%;
  left: 23%;
  width: 11%;
}
img.p1-text-realtime {
  position: absolute;
  top: 23%;
  width: 10%;
  right: 17%;
}
img.p1-superman-aside {
    position: absolute;
    width: 89%;
    bottom: 14%;
    z-index: -2;
}

img{
  position:absolute;
}

img.p1-traffic {
    top: 18%;
    width: 16%;
    right: 35%;
}

img.p1-title-left-dusk {
    width: 5%;
    left: 10%;
    top: 5%;
}

.animated1 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.animated2 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.animated25 {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.animated3 {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.animated4 {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

/*Section 2 starts from here*/
.st-section2 {
    background-image: url(imgs/p2-bg-img.png);
    position: relative;
    background-size: cover;
    z-index: -1000;
    width: 100%;
    height: 100%;
}

.ideal-job-text {
    height: 2%;
}

.p2-human {
    width: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 35%;
}

.p2-title2 {
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 14%;
    height: 3%;
}

.p2-title1 {
    top: 5%;
    height: 6%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.p2-ideal-job-globe {
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 22%;
}

.p2-starsign-net {
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 68%;
    top: 36%;
    z-index: -1;
}

.p2-working-envirment {
    bottom: 20%;
    right: 13%;
}

.p2-resturant-catering {
    top: 32%;
    right: 31%;
}

.p2-hourly-rate {
    left: 31%;
    bottom: 20%;
}

.p2-fullt-experience {
    top: 75%;
    left: 7%;
}

.p2-2year-experience {
    left: 6%;
    bottom: 44.5%;
}

.p2-great-communication {
    right: 21%;
    top: 44.5%;
}

.p2-bottom-text {
    height: 3%;
    bottom: 4%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

/*add this utility class to center images */
.img-center{
  left: 0;
  right: 0;
  margin: 0 auto;
}

.p2-all-in-one {
    width: 80%;
    top: 30%;
}

/*section3*/
.st-section3 {
    background-image: url(imgs/p3-bg-img.png);
    position: relative;
    background-size: cover;
    z-index: -1000;
    width: 100%;
    height: 100%;
}

.animated.p3-title1 {
    top: 4%;
    height: 6%;
}

.p3-title2 {
    top: 13%;
    height: 3%;
}

.p3-bg-stone {
    width: 62%;
    top: 21%;
}

.p3-UFO-target {
    width: 25%;
    bottom: 14%;
}

.p3-knockle {
    bottom: -15px;
    width: 15%;
}

.p3-15hourly-rate {
    height: 9%;
    right: 8%;
    top: 23%;
}

.p3-8hourly-rate {
    height: 9%;
    top: 39%;
    left: 8%;
}

.p3-earth {
    width: 100%;
    bottom: -105px;
}

.p3-UFO {
    width: 47%;
    bottom: 10%;
}

.p3-UFO-target {
    width: 18%;
}

.p3-2-people {
    width: 59%;
    bottom: 9%;
    z-index: -1;
}

.p3-2-70yuan {
    width: 50%;
    top: 30%;
}

.p3-2-70yuan-background {
    width: 100%;
    top: 20%;
}

.p3-2-airplane1 {
    height: 7%;
    bottom: 3%;
    z-index: -1;
}

.p3-2-airplane2 {
    height: 8%;
    bottom: 1%;
    right: 28%;
}

.p3-2-people {
    width: 55%;
    bottom: 4%;
    z-index: -1;
}


/*this is section4*/

.st-section4 {
    background-image: url(imgs/p4-bg-img.png)!important;
    width: 100%;
    height: 100%;
}

.p4-ball {
    width: 65%;
    top: 30%;
    right: 5%;
}

.p4-title {
    top: 5%;
    width: 70%;
}

.p4-bottom-text {
    bottom: 4%;
    width: 45%;
    z-index: 11;
}

.p4-skywalker {
    width: 87%;
    z-index: 11;
    left: 14%;
}

.p4-time-holding {
    width: 20%;
    top: 36%;
    left: 12%;
}

.p5-left-botton {
    width: 35%;
    bottom: 2%;
    left: 10%;
}

.p5-right-botton {
    width: 35%;
    bottom: 2%;
    right: 10%;
}

.p5-title.img-center {
    width: 70%;
    top: 5%;
}

.p5-stars-text {
    width: 100%;
    top: 15%;
}

.p5-shooting-stars {
    width: 20%;
    top: 20%;
}

.p5-sky-background {
    width: 100%;
    top: 7%;
}

.st-section5 {
    background: url(imgs/p5-bg-img.png) no-repeat center center;
}

/*this is section6*/

.st-section6 {
    background-image: url(imgs/p6-bg-image.png);
    width: 100%;
    height: 100%;
}

.p6-title {
    width: 80%;
    top: 5%;
}

.p6-code-man {
    width: 80%;
    bottom: -190px;
}

.p6-background-sky {
    width: 100%;
    top: 20%;
}

.st-section4 {
    background-image: url(imgs/p4-bg-img.png)!important;
}






/*media queries to handle orientation and desktop screen*/

@media only screen and (orientation:portrait){
        #warining-wrapper { display:none; }
}

@media only screen and (orientation:landscape){
  #warining-wrapper p {
    display: table-cell;
    vertical-align: middle;
    font-size: 30px;
    color: white;
  }

  #warining-wrapper {
    width: 100%;
    height: 100%;
    z-index: 9999999;
    text-align: center;
    display: table;
    background-color: red;
    position: relative;
  }

}
